body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quote-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    width: 90%;
    max-width: 600px;
    display: flex; /* Added */
    flex-direction: column; /* Added */
    align-items: center; /* Added */
}

.headingBox {
    display: flex; /* Added */
    justify-content: space-between; /* Added */
    width: 100%; /* Added */
    margin-bottom: 1.5rem; /* Added */
}

h2 {
    color: #333;
    font-size: 1.5rem;
    margin: 0; /* Updated */
}

blockquote {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1.5rem;
}
blockquote::before, blockquote::after{
    content: '"';
}

.author-options button {
    width: 100%;
    padding: 0.75rem 0;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.author-options button:hover {
    background-color: #0056b3;
}

.score, .lives {
    font-size: 1rem;
    color: #333;
}

.game-over {
    display: none; /* Initially hide */
    margin-top: 20px;
    text-align: center;
}

.game-over p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#restart-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#restart-button:hover {
    background-color: #0056b3;
}